.content-add{
    background-color: rgba(142, 150, 170, 0.14);
    margin: 0 -20px;
    padding: 0 20px;
}
.prompt span{
    overflow-wrap: break-word;
}
.prompt-mark-01{
    background-color:  #e78181;
    padding: 2px;
}
.prompt-mark-02{
    background-color: #2bc921;
    padding: 2px;
}
.prompt-mark-03{
    background-color: pink;
    padding: 2px;
}
 .prompt-mark-04{
    background-color: skyblue;
    padding: 2px;
}